.edit-btn {
  color: rgb(8, 168, 2);
  cursor: pointer;
}
.delete-btn {
  color: rgb(233, 88, 88);
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #202020;
}

tr:nth-child(even):hover {
  background-color: #0c2903 !important;
}
th {
  background-color: #021b29 !important;
  color: #7cf6ff;
}
.top-header {
  background-color: #021b29;
  color: #7cf6ff;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 10px;
}
