.edit-btn {
  color: rgb(8, 168, 2);
  cursor: pointer;
}
.delete-btn {
  color: rgb(233, 88, 88);
  cursor: pointer;
}
/* change odd row background color */
tr:nth-child(even) {
  background-color: #202020;
}
/* change header background color */
th {
  background-color: #021b29 !important;
  color: #7cf6ff;
}
