<div class="map-header">
  <select-option
    [options]="['City', 'Postcode']"
    [title]="'Filter by'"
    [(value)]="selectedFilter"
    (onSelect)="filterValue.set('')"
  ></select-option>
  <select-option
    [options]="selectedFilter() == 'City' ? cityList() : postCodeList()"
    [title]="selectedFilter() == 'City' ? 'Select City' : 'Select Postcode'"
    [(value)]="filterValue"
    [useAutoComplete]="true"
    (onSelect)="this.filterValue.set($event)"
  ></select-option>
</div>
@defer (on timer(1000ms)) {
  @if (ready()) {
    <google-map height="90%" width="100%" [center]="center()" [zoom]="zoom()">
      @for (marker of markers(); track marker.position) {
        <map-marker [position]="marker.position" [label]="marker.label!" />
      }
    </google-map>
  }
} @placeholder {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
}
